<div class = "action bar">
    <div class = "search-bar">
        <div class="search-container">
            <span class="material-icons">search</span>
            <input type="text" name="search" id="search" placeholder="Search for Anime title, Genre or Streaming service...">
        </div>
        <div class = "sort-dropdown">
            <div class="labels sort-menu">
                <span class="material-icons">sort</span>
                <span class="value" id="sorttext">Score (High - Low)</span>
            </div>
            <div class="dropdown" id="sorters">
                <button id="clickAlphAZ">Title (A - Z)</button>
                <button id="clickAlphZA">Title (Z - A)</button>
                <button id="clickScoreHL">Score (High - Low)</button>
                <button id="clickScoreLH">Score (Low - High)</button>
                <button id="clickDateNO">Updated (New - Old)</button>
                <button id="clickDateON">Updated (Old - New)</button>
            </div>
        </div>
        <div class = "sort-dropdown">
            <div class="labels filter-platform">
                <span class="material-icons">filter_list</span>
                <span class="value">Platform</span>
            </div>
            <div class="dropdown">
                <label class="checkbox-container">Select All<input type="checkbox" name="Select All" id="updateSelect" checked><span class="checkmark"></span></label>
                <% for platform in @platforms %>
                <label class="checkbox-container"><%= platform.name %><input type="checkbox" name="<%= platform.id %>" class="filterData"><span class="checkmark"></span></label>
                <% end %>
            </div>
        </div>
    </div>
    <div class = "action-bottom">
        <div class="results"><%= @result_count %> entries</div>
        <button class="labels" id="clickFree">View Free</button>
    </div>
</div>

<div id="anime-container-stub" class="anime-container">
    <% for anime in @animes %>
    <div class="anime-object aos-init aos-animate" data-aos="fade-up" key={index}>
        <div class="anime-title">
        <a href="<%= anime.url %>"><%= anime.title %></a>
        </div>
        <div class="anime-img-container" style="background-image: url('<%= anime.img_url %>')"></div>
        <div class="anime-brief">
        <span class="platform-icon" title="Streaming Platform">
            <a href="<%= anime.platform.url %>" id="<%= anime.platform.name %>"><%= anime.platform.name[0] %></a>
        </span>
        <span class="anime-score"><%= anime.score %><span class="material-icons" style="font-size: 12px;">star</span></span>
        <span class="anime-episodes">
            <span class="material-icons" style="font-size: 12px;">playlist_play</span><span><%= anime.eps %></span>
        </span>
        </div>
    </div>
    <% end%>
</div>

<div id="anime-container" class="anime-container" style="display: none;">
</div>

<%= javascript_pack_tag 'Index' %>
<%= javascript_pack_tag 'anime_list' %>