<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<%# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174251703-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-174251703-1');
</script> %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="legally streamable anime india legal streaming india netflix amazon prime crunchyroll muse asia youtube gundaminfo ani-one tubitv contv">
<meta name="google-site-verification" content="wbdDPlCmePHP2IKh-qaDJu05i0bmvw0O3JtRRdy09Ik" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>AnistreamIN | Legally Streamable Anime in India</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!-- <div id="spinner"><div class="ring"></div></div>-->

<div class = "header">
	<div class = "head-content">
		<div class="title"><span>ANISTREAM.</span><span class="india">in</span></div><div class="subtitle">Catalogue of legally streamable anime in India</div>
	</div>
</div>

<div class = "container">
  <%= yield %>
</div>

<div class = "footer">
	<p style="margin-bottom: 16px">Drop a message on <a href="https://github.com/SAM10795/AnistreamIN/issues">https://github.com/SAM10795/AnistreamIN/issues</a> for any issues with the list or for general suggestions</p>
	<p style="font-size:12px;">Google Material Icons used for icons</p>
	<p style="font-size:12px;">Anime data from MAL</p>
	<p style="margin-top: 16px; font-size: 12px; color: var(--colorRed);">Updated: 2 August 2020</p>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	AOS.init();
</script>
</body>
</html> 